doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='/css/bootstrap.min.css')
  body
    div(class='container')
      h1(class='header')= message
      blockquote User stories:
        li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
        li When I visit that shortened URL, it will redirect me to my original link.
      h3 Example creation usage:
      code https://urlshortener-tgallin.herokuapp.com/shorten/https://www.freecodecamp.com
      h3 Example creation output:
      code
        | {
        |   "shortened_url": "https://urlshortener-tgallin.herokuapp.com/1234"
        | }
      h3 Example shortened url usage:
      code https://urlshortener-tgallin.herokuapp.com/1234
      h3 Will redirect to
      code https://www.freecodecamp.com